--only-binary=:all:

Flask
numpy
pandas
opencv-python-headless
Pillow
pi-heif

fuzzywuzzy
python-Levenshtein
easyocr                   # may still require building
torch
torchaudio
torchvision
--extra-index-url https://download.pytorch.org/whl/cpu

gunicorn
geopy
scikit-learn
requests
